%article.panel.panel-default
  %header.panel-heading.meta
    = avatar_tag comment.user    
    = link_to last_comment_meta_str(comment), "\##{comment.id}"
    - if current_user == comment.post.user
      = link_to 'ban',  ban_post_comment_path(post_id: comment.post.id, id: comment.id), method: :patch, class: 'btn-danger'
  %p.panel-body= comment.body

