%h1 #{@user.display_name.capitalize} Profile
= avatar_tag @user
.user-stats
  %p registered: #{l @user.created_at, format: :short}
  = last_seen_div @user.last_sign_in_at

= link_to 'Back to posts', posts_path