%h1 #{@user.display_name.capitalize} Profile
= avatar_tag @user, size: '100x100'
.user-stats
  %ul
    %li 
      Total posts
      %span.badge= @user.posts.count
    %li
      Total comments
      %span.badge= @user.comments.count
    %li registered: #{formatted_date @user.created_at}
    %li= last_seen_div @user.last_sign_in_at


%h2 Recent activity
- @user.recent_activity.each do |activity|
  %p
    = activity_link activity 
    %span= formatted_date activity.created_at
