!!!
%html
  %head
    %title Forum
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body 
    %p.notice= notice
    %p.alert= alert

    %p
      - if user_signed_in?
        %p= link_to 'sign out', destroy_user_session_path, method: :delete    
      - else
        %p= link_to 'sign in',  new_user_session_path
        %p= link_to 'sign up',  new_user_registration_path

    = yield
